@model Smart_Trix.Models.StViewModel.Account.UserNavPartialVM

@*<a href="/account/UserProfile">
    (@Model.FirstName
    @Model.LastName)
</a>*@
<a href="/account/user-profile">(@Model.FirstName  @Model.LastName)</a>

@*<div>
    <h4>UserNavPartialVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
